*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.app{
  width: 100vw;
  padding: 1.25rem;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
}

.header{
  width: 100%;
  height: 64px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background-color: black;
}

.content{
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.action-btn{
  all: unset;
  width: 100%;
  margin-top: 3rem;
  padding: 1rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5rem;
}

.action-btn:active{
  outline: 2px solid black;
}

.action-btn-done{
  font-size: 2rem;
}


.time{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.time:nth-child(odd){
  background-color: #f4f4f4;
}